extends listing
block content
	p
		span.filename= path
		span= __( 'is a file of MIME type %s.', mime );

	form(action="/playlist/add/", method="post")
		input(type="hidden", name="uri", value=url)
		input.button.bad(type="submit", value=__( 'Queue this file' ))

	if contents
		pre.filecontents= contents
