extends skeleton
block content
	header
		h1= path
		if filetype
			pre.filetype= filetype
	if files
		ul
			for file in files
				li
					- url = './' + file
					a(href=url)= file
	else
		form(action="/queue",method="post")
			- fullurl = 'http://10.10.10.10/' + path
			input(type="hidden",name="uri",value=fullurl)
			input(type="submit",value=__('queue'))
	if output
		span.filesize= output.size
		span.ctime= output.ctime
		span.mtime= output.mtime
		span.atime= output.atime
	if mplayer
		table.small
			tr
				th= __( 'key' )
				th= __( 'value' )
			- for ( item in mplayer)
				tr
					td= item
					td= mplayer[item]
