extends skeleton
block content
	header
		h1= __('playlist')
	if currentCommand
		p= __('currentlyplaying', currentCommand)
	form(action="/queue", method="post").addnew
		input(type="url", name="uri")
		input(type="submit", name="queue" value= __('queue'))
	form(action="/command", method="post").controls
		if playing
			button(type="submit", name="command", value="pause")= __('pause')
		else
			button(type="submit", name="command", value="play")= __('play')
		button(type="submit", name="command", value="skip")= __('skip')
		button(type="submit", name="command", value="die")= __('die')
	if queue.length == 0
		p.empty= __('empty')
	else
		table
			thead
				tr
					th= __('file')
					th= __('requester')
			tbody
			for item in queue
				tr
					td
						a(href="#{item.uri}")= decodeURI(item.uri)
					td #{item.requester}
