doctype html
html
	head
		title mplayer queue
		link(rel='stylesheet', href='/style.css')
	body
		header
			h1 die Kinowartelist
		if currentCommand
			p Currently playing #{currentCommand}
		form(action="/queue", method="post")
			input(type="url", name="uri")
			input(type="submit", value="queue")
		form(action="/command", method="post")
			if playing
				button(type="submit", name="command", value="pause") Pause
			else
				button(type="submit", name="command", value="play") Play
			button(type="submit", name="command", value="skip") Skip
			button(type="submit", name="command", value="die") Emergency Stop
		table
			thead
				tr
					th File
					th Requester
			tbody
				for item in queue
					tr
						td
							a(href="#{item.uri}") #{item.uri}
						td #{item.requester}
		footer
			p auf nodejs - #{host}
