extends skeleton
block content
	form.addurl(action="add/", method="post")
		input(type="url", name="uri")
		input(type="submit", name="queue", value=__( 'Queue' ))
	p.addfs
		a(href="/fs")= __( 'Add file from filesystem' )
	ul.controls
		- controls = [ 'play', 'pause', 'skip', 'die' ]
		for control in controls
			li
				a(href="cmd/" + control)= __( control )
	table.playlist
		thead
			tr
				th= __( 'ℹ' )
				th= __( 'File' )
				th= __( 'Requester' )
		tbody
			for item in history
				tr.history
					td
						form(command='add/', method="POST").repeat
							button(type="submit", value=item.uri, name="uri") ↺
					td
						a(href=item.uri)= decodeURI( item.uri )
					td= item.requester
			if currentCommand.url
				tr.nowplaying
					td ▶
					td
						a(href=currentCommand.url)= decodeURI( currentCommand.url )
			- counter = 0
			for item in queue
				- counter++
				tr.queue
					td= counter
					td
						a(href=item.uri)= decodeURI( item.uri )
					td= item.requester



