extends skeleton
block content
	header
		h1= __('playlist')
	form(action="/queue", method="post").addnew
		input(type="url", name="uri")
		input(type="submit", name="queue" value= __('queue'))
	form(action="/command", method="post").controls
		if playing
			button(type="submit", name="command", value="pause")= __('pause')
		else
			button(type="submit", name="command", value="play")= __('play')
		button(type="submit", name="command", value="skip")= __('skip')
		button(type="submit", name="command", value="die")= __('die')
		div
			a(href="/fs/")= __('findfile')
	if currentCommand.output.err
		for err in currentCommand.output.err
			p.stderr #{err}
	if (currentCommand.props && currentCommand.url)
		if currentCommand.props['ID_FILENAME'] !== currentCommand.url
			p.oldmeta= __('oldmetadata')
		else
			table.stdin
				thead
					tr
						th(colspan="2")= __('metadata')
				tbody
					- for (prop in currentCommand.props)
						tr
							th= prop
							td= currentCommand.props[prop]
	if queue.length == 0 && !currentCommand.url && history.length == 0
		p.empty= __('empty')
	else
		table.queue
			thead
				tr
					th ℹ
					th= __('file')
					th= __('requester')
			tbody
			for item in history
				tr.history
					td
						form(command="/queue", method="POST").repeat
							button(type="submit", value="#{item.uri}", name="uri") ↺
					td
						a(href="#{item.uri}")= decodeURI(item.uri)
					td #{item.requester}
			if currentCommand.url
				tr.nowplaying
					td ▶
					td
						a(href="#{currentCommand.url}")= decodeURI(currentCommand.url)
					td #{currentCommand.requester}
			for item in queue
				tr
					td
					td
						a(href="#{item.uri}")= decodeURI(item.uri)
					td #{item.requester}
		p.summary= __n('file-count', null, queue.length)
