nav.sidebar
	ul
		li
			h1: a(href="/")= __( 'Cinequeue' )
		li#playing.playing
		li: ul.controls
				if player.autoPlaying()
					li: a.button.muted(href="/playlist/cmd/pause",title=__( 'Pause auto-play' ))= __( '▮▮' )
				else
					li: a.button.muted.good(href="/playlist/cmd/play",title=__( 'Enable auto-play' ))= __( '▶' )
				if player.nowPlaying()
					li: a.button.muted(href="/playlist/cmd/skip",title=__( 'Skip to next track' ))= __( '▶▶'   )
		if player.nowPlaying()
			li: a(href="/playlist#nowplaying")= __( 'Playlist' )
		else
			li: a(href="/playlist")= __( 'Playlist' )
		li: a(href="/fs")= __( 'Filesystem' )
		li: a(href="/playlist/cmd/switch_audio",title=__( 'Cycle audio tracks' ))= __( 'Next audio track'   )
		li: a(href="/playlist/cmd/switch_subs",title=__( 'Cycle subtitle tracks' ))= __( 'Next subtitle track'   )
		include flash
		block sidebar
