doctype html
html
	head
		block head
			if title
				title= title
			else
				title= __( 'Cinequeue' )
			block scripts
				script(type="text/javascript", src="/snippets.js")
				script(type="text/javascript", src="/global.js")
			block styles
				link(href="http://fonts.googleapis.com/css?family=Open+Sans",rel="stylesheet",type="text/css")
				link(rel="stylesheet",type="text/css",href="/global.css")
			meta(charset="utf-8")
	body
		block body
			div.container
				include sidebar
				div.content
					block top
						h2= __( 'Cinequeue' )
					include flash
					block content
				block footer
					div.footer
						p
							a.hauptseite(href='/')= __( 'Homepage' )
						p= __( 'Powered by node.js' )
						p
							a.langselect(href='/babel')= __( 'Language selection' )
						p
							a.killproc.button.bad(href="/playlist/cmd/die")= __( 'Kill process' )
